<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logdir" value="${basedir}/logs"/>
  <variable name="layout" value="${longdate} ${level:uppercase=true} ${logger} ${message}"/>
  <targets>
    <target name="console" xsi:type="Console" layout="${layout}"/>
    <target name="file" xsi:type="File"
      fileName="${logdir}/${shortdate}.log"
      layout="${layout}"
      encoding="utf-8"
      maxArchiveFiles="30"
      archiveNumbering="Sequence"
      archiveEvery="Day"
      archiveFileName="${logdir}/${shortdate}.{##}.log"
      />
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" appendTo="file,console"/>
  </rules>
</nlog>
